@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #349b7e;
}
::selection {
  color: white;
  background: #349b7e;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 250px;
  background: #349b7e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a6e56;
}
